* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: black;
  --second-color: rgb(35, 34, 34);
  --text-color: white;
  --main-color: rgb(0, 255, 179);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

span {
  color: var(--main-color);
}

.headding {
  font-size: 4.5rem;
  text-align: center;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  display: flex;
  background: var(--bg-color);
}

.Portfolio {
  font-size: 2.5rem;
  font-weight: 600;
  cursor: default;
  color: var(--text-color);
}

.navbar a {
  font-size: 1.5rem;
  margin-left: 4rem;
  color: var(--text-color);
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  margin-top: 1rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
  cursor: pointer;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.home-content h3 {
  font-size: 3rem;
  font-weight: 700;
}

.home-content h1 {
  font-size: 6vh;
  font-weight: 700;
  line-height: 7.5rem;
}

.home-image img {
  width: 30vw;
}

.home-content p {
  padding-top: 1rem;
  font-size: 1.5rem;
}

.home .handel i {
  font-size: 2rem;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 50%;
  margin: 1rem;
  background: var(--second-color);
  color: var(--text-color);
  transition: 0.3s ease;
}

.home .handel i:hover {
  background: var(--main-color);
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-color);
}

.about-content h1 {
  font-size: 5.5rem;
  font-weight: 700;
}

.about-content h3 {
  font-size: 3.5rem;
  font-weight: 700;
}

.about-content p {
  padding-top: 1rem;
  font-size: 1.5rem;
}

.about-image img {
  width: 30vw;
}

.skillsheadding {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  margin-top: 8rem;
  margin-bottom: -8rem;
}
.html-icon {
  color: #c95d2e;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills-title .soft-skills {
  padding-left: 45rem;
}

.skills-container {
  width: 600px;
  height: 500px;
  padding: 75px 90px;
  /* margin-left: 10px; */
}

.skills-container .headding {
  text-align: center;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

.skills-container .skills-name {
  width: 100%;
  margin: 6rem -9rem;
  font-size: 2rem;
  font-weight: 700;
}
.css-icon {
  color: #147bbc;
}

.javascript-icon {
  color: #b9bc1e;
}

.python-icon {
  color: #c32ec9;
}

.sql-icon {
  color: #e5e90f;
}

.skills-name i {
  margin-right: 10px;
}

.skills-container .skills-bar {
  border-radius: 10px;
  height: 10px;
  width: 100%;
  margin: -1.5rem 15rem;
  align-items: center;
  justify-content: center;
  background: var(--second-color);
}

.skills-container .skills-percentage {
  position: relative;
  display: block;
  border-radius: 10px;
  height: 100%;
  background: var(--main-color);
}

#html {
  width: 95%;
  animation: progress 1s ease-in-out forwards;
  /* animation-timeline: view(); */
  opacity: 0;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 95%;
    opacity: 1;
  }
}
#css {
  width: 90%;
  animation: progress1 1s ease-in-out forwards;
  /* animation-timeline: view(); */
  opacity: 0;
}
@keyframes progress1 {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 90%;
    opacity: 1;
  }
}

#js {
  width: 80%;
  animation: progress2 1s ease-in-out forwards;
  /* animation-timeline: view(); */
  opacity: 0;
}
@keyframes progress2 {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 80%;
    opacity: 1;
  }
}

#sql {
  width: 70%;
  animation: progress3 1s ease-in-out forwards;
  /* animation-timeline: view(); */
  opacity: 0;
}
@keyframes progress3 {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 70%;
    opacity: 1;
  }
}

#python {
  width: 75%;
  animation: progress4 1s ease-in-out forwards;
  /* animation-timeline: view(); */
  opacity: 0;
}
@keyframes progress4 {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 75%;
    opacity: 1;
  }
}

.skills-percentage .skills-tooltip {
  position: absolute;
  right: -1.7rem;
  top: -1.6rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.skills-container .professionalskills-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  /* background: var(--text-color); */
  margin: -2.5rem 2rem;
}

#professionalskills {
  margin-top: -0.5rem;
}

#professionalskills .headding {
  margin-left: 1.9rem;
}

.skills-container .softskills-box {
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}
.skills-container svg {
  position: absolute;
  width: 120px;
  height: 160px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.skills-container svg circle {
  width: 100%;
  height: 100%;
  fill: var(--second-color);
  stroke-width: 5;
  stroke: var(--main-color);
}

.skills-container .softskills-percentage {
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skills-container .softskills-name {
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  text-align: center;
  bottom: -5px;
}

.softskills-box .team {
  stroke-dasharray: 502.65;
  stroke-dashoffset: 25.13;
  stroke-linecap: round;
  animation: stroke 1s linear;
}

@keyframes stroke {
  0% {
    stroke-dashoffset: 502.65;
  }
  100% {
    stroke-dashoffset: 25.13;
  }
}

.softskills-box .creativity {
  stroke-dasharray: 502.65;
  stroke-dashoffset: 50.27;
  stroke-linecap: round;
  animation: stroke2 1s linear;
}

@keyframes stroke2 {
  0% {
    stroke-dashoffset: 502.65;
  }
  100% {
    stroke-dashoffset: 50.27;
  }
}

.softskills-box .communication {
  stroke-dasharray: 502.65;
  stroke-dashoffset: 75.4;
  stroke-linecap: round;
  animation: stroke3 1s linear;
}

@keyframes stroke3 {
  0% {
    stroke-dashoffset: 502.65;
  }
  100% {
    stroke-dashoffset: 75.4;
  }
}

.softskills-box .problem {
  stroke-dasharray: 502.65;
  stroke-dashoffset: 100.53;
  stroke-linecap: round;
  animation: stroke4 1s linear;
}

@keyframes stroke4 {
  0% {
    stroke-dashoffset: 502.65;
  }
  100% {
    stroke-dashoffset: 100.53;
  }
}

.MYPortfolio {
  background: var(--second-color);
}

.MYPortfolio h2 {
  margin-bottom: 4rem;
}

.Portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.Portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}

.Portfolio-box:hover img {
  transform: scale(1.1);
}

.Portfolio-container .Portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.Portfolio-box .Portfolio-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.Portfolio-box:hover .Portfolio-content {
  transform: translateY(0);
}

.Portfolio-content h4 {
  font-size: 2rem;
}

.Portfolio-content p {
  font-size: 1rem;
  margin: 0.3rem 0 1rem;
}

.Portfolio-content a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background: var(--text-color);
  border-radius: 50%;
}

.Contact h2 {
  margin-bottom: 2rem;
}

.Contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.Contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Contact form .input-box input,
.Contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--second-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.Contact form .input-box input {
  width: 49%;
}

.Contact form textarea {
  resize: none;
}
html {
  scroll-behavior: smooth;
}
